<% channels.each do |channel| %>
    <div class="widget-list-item">
        <div class="widget-list-content">
            <h4 class="widget-list-title">
                <%= link_to channel_path(channel), remote: true do %>
                    <%= channel.name %>
                <% end %>
            </h4>
            <p class="widget-list-desc"><%= channel.users.count %> members</p>
        </div>
        <div class="widget-list-action">
            <a href="#" data-toggle="dropdown" class="text-muted pull-right" aria-expanded="false"><i class="fa fa-ellipsis-h f-s-14"></i></a>
            <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(248px, 133px, 0px);">
                <li>
                    <%= link_to 'Edit', edit_channel_path(channel), remote: true %>
                </li>
            </ul>
        </div>
    </div>
<% end %>