<div class="row">
    <% if @channels.present? %>
        <div class="col-md-4">
            <div class="widget-todolist widget-todolist-rounded m-b-30" data-id="widget">
                <div class="widget-todolist-header">
                    <div class="widget-todolist-header-left">
                        <h4 class="widget-todolist-header-title">Channels</h4>
                    </div>
                    <div class="widget-todolist-header-right">
                        <div class="widget-todolist-header-total">
                            <%= link_to 'Add New', new_channel_path, class: "btn btn-white btn-sm", remote: true %>
                        </div>
                    </div>
                </div>
                <div class="widget-list-body">
                    <div id="channels">
                        <%= render 'channels', channels: @channels %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="messages">
                <%= render 'messages', channel: @channel %>
            </div>
        </div>
    <% else %>
        <div class="col-md-6">
            <div class="alert alert-info">
                You're not part of any channels yet.
            </div>
        </div>
    <% end %>
 
</div>
