<div data-behavior='messages' data-chatroom-id='<%= active_room.id %>'>
	<% messages.each do |message| %>
	 	<%= render '/messages/message', message: message, current_user_id: current_user.id %>
	<% end %>
	<input type="hidden" id="current_user_id" value="<%= current_user.id %>">
</div>
