<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="register-header">
            Update My Account
            <br>
            <small>Update your current account. Please ensure to enter all required fields.</small>
        </h1>

        <%= render 'form' %>
    </div>
    
</div>