<div class="form-group">
  <%= form_for [chatroom, order_entry, ItemMessage.new], format: 'js', remote: true do |f| %>
  	<div class="input-group">
  		<%= f.text_area :body, rows: 1, class: "form-control message-body", autofocus: true, placeholder: "Enter message text", autocomplete: "off" %>

	    <span class="input-group-btn"> 
          <label class="btn btn-white btn-bitbucket btn-file">
            <i class="fa fa-paperclip"></i>
            <%= f.file_field :attachment, id: 'message-attachment', style: "display: none;", title: "Image upload" %>
        </label>
        <%= f.submit "Send", class: "btn btn-primary" %>
      </span>

    </div>
  <% end %>

  <script type="text/javascript">
      function getCaret(el) { 
        if (el.selectionStart) { 
          return el.selectionStart; 
        } else if (document.selection) { 
          el.focus(); 

          var r = document.selection.createRange(); 
          if (r == null) { 
            return 0; 
          } 

          var re = el.createTextRange(), 
              rc = re.duplicate(); 
          re.moveToBookmark(r.getBookmark()); 
          rc.setEndPoint('EndToStart', re); 

          return rc.text.length; 
        }  
        return 0; 
      }

      $('textarea').keypress(function (event) {
        if (event.keyCode == 13 && event.ctrlKey) {
           var content = this.value;
           var caret = getCaret(this);
           this.value = content.substring(0,caret)+"\n"+content.substring(caret,content.length);
           event.stopPropagation();
           
        }else if(event.keyCode == 13)
        {
            event.preventDefault();
            $('#new_item_message').submit();
        }
      });

      function expandTextarea(id) {
          var $element = $('.message-body').get(0);  
          
          $element.addEventListener('keyup', function() {
              this.style.height = 0;
              this.style.height = this.scrollHeight + 'px';
          }, false);
      }

      expandTextarea('txtarea');


  </script>

</div>