<div class="row">
  <div class="col padding-left">
    <h1>Add an Item</h1>
    <p class="lead">
      CREATE AN ITEM CLASS
    </p>
  </div>
  <div class="col">

  </div>
</div>
<div class="row">
  <div class="col padding-left">
    <h3 class="inline-text">This items is..</h3>
    <button class="btn btn-nav">FOR EVERYONE</button>
    <button class="btn btn-nav">FOR A HOTEL BRAND</button>
  </div>
</div>

<div class="row">
  <div class="col padding-left">
    <h3>Which brand is this for?</h3>
    <div class="input-group search-bar-padding">
      <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control glow-input" autocomplete="off"
             ng-model="model"
             item-value-key="name"
             item-view-value-key="view"
             items-method="getItems(query,brands)"
             items-method-value-key="items"
             placeholder="Search for the brand name."
             max-selected-items="1"/>
    </div>
  </div>
</div>

<div class="row">
  <div class="col search-bar-padding text-justify">
    <p class="padding-top" ng-init="getBrands()">
      <button class="btn btn-nav" ng-repeat="brand in brands | filter:model" ng-click="show_brand({{brand.id}})">{{brand.name}}</button>
    </p>
  </div>
</div>