<div class="row">
  <div class="col padding-left">
    <h1>Add an Item</h1>
    <p class="lead">
      CREATE AN ITEM CLASS
    </p>
  </div>
  <div class="col">

  </div>
</div>
<div class="row">
  <div class="col padding-left">
    <h3 class="inline-text">This items is..</h3>
    <button class="btn btn-nav">FOR EVERYONE</button>
    <button class="btn btn-nav">FOR A HOTEL BRAND</button>
  </div>
</div>

<div class="row">
  <div class="col padding-left padding-top-1">
    <h3>Which brand is this for?</h3>
    <div class="input-group search-bar-padding">
      <input  type="text" autocomplete="off" placeholder="Search for the brand name." id="filterSearch" onkeyup="onSearchFilter();" class="form-control glow-input"/>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col search-bar-padding text-justify item-list">
        <% if @brands.present? %>
            <% @brands.each do |brand| %>
                <a class="btn btn-nav" href="<%= show_brand_inventories_path(:brand_id => brand.id) %>"><%= brand.name %></a>&nbsp;
            <% end %>
        <% end %>
  </div>
</div>