<div class="row" >
  <div class="col padding-left">
    <h1><b>CREATE AN ITEM CLASS</b></h1><br/>
  </div>
</div>
<div class="row">
  <div class="col padding-left">
    <h3 class="make-green"><b>Product Information</b></h3><br/>
  </div>
</div>
<form class="form" id="new_product" action="/products" accept-charset="UTF-8" method="post">
  <input type="hidden"  name="dynamic_fields" id="dynamic_fields"/>

  <!--Categories-->
  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Product Category</h4>
      <div class="input-group search-bar-padding">
        <select class="categories form-control glow-input" data-live-search="true" name="category_id" id="category_id" >
          <% Category.all.each do |category| %>
              <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Product Name</h4>
      <div class="input-group search-bar-padding">
        <input type="text" class="form-control glow-input" name="product_name" id="product_name"/>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Select Vendor</h4>
      <div class="input-group search-bar-padding">
        <select class="categories form-control glow-input" data-live-search="true" name="vendor_id[]" id="vendor_id" multiple>
          <option></option>
          <% Vendor.all.each do |vendor| %>
              <option value="<%= vendor.id %>"><%= vendor.name %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <h4>Stock/Quantity</h4>
      <div class="input-group search-bar-padding">
        <input type="number" class="form-control glow-input" name="quantity" id="quantity"/>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 2%;">
    <div class="col padding-left">
      <label class="item float-right">
        <input type="submit" class="btn btn-outline-primary" value="Save"/>
      </label>
    </div>
  </div>
</form>

<script>
    $(function() {
        $('#new_product').submit(function() {
            var dynamic_fields = {};

            var field_names = $('input[name=order_field_name]');
            var field_values = $('input[name=order_field_value]');

            for(var i = field_names.length - 1; i >= 0; i--) {
                dynamic_fields[$(field_names[i]).val()] = $(field_values[i]).val();
            }

            $('#dynamic_fields').val(JSON.stringify(dynamic_fields));
            return true;
        });
        $('select.brandpicker').on('change', function(e){
            getAddress(this.value)
        });

        function getAddress(id) {
            $.ajax({
                method: "GET",
                url: "/api/simple/addresses/branches?brand_id="+id
            }).done(function( data ) {
                $('#brand-list').html('');
                all_address_list = [];
                data.forEach(function (item, index, arr) {
                    all_address_list.push(item['id']);
                    brand_list = $('#brand-list').html();
                    $('#brand-list').html(brand_list + "<a class='btn btn-nav select-items' onclick='selectAndUnselect(" + item['id'] + ", $(this) )'> " + item['state'] + " - " +  item['city'] + "</a>&nbsp;");
                    console.log(item);
                });
            });

        }

    });
</script>