<div class="row" >
  <div class="col padding-left">
    <h1><b>CREATE AN ITEM CLASS</b></h1><br/>
  </div>
</div>
<div class="row">
  <div class="col padding-left">
    <h3 class="make-green"><b>Product Information</b></h3><br/>
  </div>
</div>

<%= render "orders/form/form_for_add_order_entries"%>

<script>
    $(function() {
        $('#save-clone').click(function (){
            setAttributesOnForm($('#add-new-product'));
            $( "#add-new-product" ).submit();
            window.location.pathname = "/inventories/view_stocks";
        });

        $('#save-clone').click(function (){
            setCloneAttributesOnForm($('#add-clone-product'));
            $( "#add-clone-product" ).submit();
            window.location.pathname = "/inventories/view_stocks";
        });



        $('select.clone_products').on('change', function(e){
            $.ajax({
                method: "GET",
                url: "/api/simple/products/"+this.value
            }).done(function( data ) {
                $('#clone_product_name').val(data.name);
                $('#clone_item_category_id').val(data.item_category_id);
                $('#clone_vendor_id').val(data.vendor_id);
                $('#clone_specs').val(data.specs)
                $('#clone_vendor_quote_prices').val(data.vendor_quote_prices)
                $('#clone_notes').val(data.notes)
                $('#clone_product_attributes').html('');
                $('.clone_categories').selectpicker('refresh');
                console.log(JSON.parse(data.convert_dynamic_fields));
                foo = JSON.parse(data.convert_dynamic_fields);
                Object.keys(foo)
                    .forEach(function eachKey(key) {
                        clone_product_attributes_2(key, foo[key]);
                    });
            });
        });

        $('#new_product').submit(function() {
            var dynamic_fields = {};

            var field_names = $('input[name=order_field_name]');
            var field_values = $('input[name=order_field_value]');

            for(var i = field_names.length - 1; i >= 0; i--) {
                dynamic_fields[$(field_names[i]).val()] = $(field_values[i]).val();
            }

            $('#dynamic_fields').val(JSON.stringify(dynamic_fields));
            return true;
        });
        $('select.brandpicker').on('change', function(e){
            getAddress(this.value)
        });

        function getAddress(id) {
            $.ajax({
                method: "GET",
                url: "/api/simple/addresses/branches?brand_id="+id
            }).done(function( data ) {
                $('#brand-list').html('');
                all_address_list = [];
                data.forEach(function (item, index, arr) {
                    all_address_list.push(item['id']);
                    brand_list = $('#brand-list').html();
                    $('#brand-list').html(brand_list + "<a class='btn btn-nav select-items' onclick='selectAndUnselect(" + item['id'] + ", $(this) )'> " + item['state'] + " - " +  item['city'] + "</a>&nbsp;");
                    console.log(item);
                });
            });

        }

    });
</script>