<div class="row">
  <div class="col padding-left">
    <h1>Manage by Hotel</h1>
    <p class="lead">
      VIEW HOTEL BRANDS AND ADD NEW
    </p>
  </div>
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col padding-left">
    <div class="input-group search-bar-padding">
      <input  type="text" autocomplete="off" placeholder="Search for the brand name." id="filterSearch" onkeyup="onSearchFilter();" class="form-control glow-input"/>
    </div>
  </div>
</div>

<div class="row" style="padding-top: 2%;">
  <div class="col search-bar-padding text-justify">
    <% if @brands.present? %>
        <% @brands.each do |brand| %>
            <a class="btn btn-nav" href="<%= show_brand_inventories_path(:brand_id => brand.id) %>"><%= brand.name %></a>&nbsp;
        <% end %>
    <% end %>
  </div>
</div>