<div class="row" ng-init="init()">
  <div class="col padding-left">
    <a ng-click="show()"><h1><%= @brand.name %></h1></a>
  </div>
  <div class="col">

  </div>
</div>
<div class="row">

  <div class="col">
    <button class="btn btn-nav btn-navigation">VIEW OPEN TICKETS</button>
    <button class="btn btn-nav btn-navigation" ng-click="users()">MANAGE MEMBERS</button>
    <button class="btn btn-nav btn-navigation" ng-click="branches()">MANAGE BRANCHES</button>
    <button class="btn btn-nav btn-navigation" ng-click="inventories()">VIEW INVENTORY</button>
    <button class="btn btn-nav btn-navigation">ORDER HISTORY</button>
    <button class="btn btn-nav btn-navigation" ng-click="cards()">BUSINESS CARDS</button>
  </div>
</div>

<div class="row">
  <div class="col padding-left">
    <div class="card card-yellow-no-align">
      <div class="card-body ">
        <h1 style="font-size: 3em;">Invoice Overdue</h1>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="lead-2">Notifications</h4>
        <p class="action-text">
          You have <span class="lead-2">5 MESSAGES</span> tagged under Inventory
        </p>
        <p class="action-text">
          <span class="lead-2">3 TICKETS</span> need to be resolved
        </p>
      </div>
    </div>
  </div>
</div>