<div class="row">
  <div class="col padding-left">
    <h1>Current Stocks</h1>
    <p class="lead">
      VIEW ALL CURRENT ITEMS AND SHELLS
    </p>
  </div>
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col padding-left">
    <div class="input-group search-bar-padding">
      <input  type="text" autocomplete="off" placeholder="Search for the category name." id="filterSearch" onkeyup="onSearchFilter();" class="form-control glow-input"/>
    </div>
  </div>
</div>


<div class="row"  style="padding-top: 2%;">
  <div class="col padding-left search-bar-padding text-justify" ng-init="init()">
    <!--<button class="btn btn-nav" ng-click="door_hanger()">Pen Style - 1</button>-->
    <% if @categories.present? %>
        <% @categories.each do |category| %>
            <!--<!%= show_brand_inventories_path(:brand_id => brand.id) %>-->
            <a class="btn btn-nav" href=""><%= category.name %></a>&nbsp;
        <% end %>
    <% end %>
  </div>
</div>
