<div class="row">
  <div class="col padding-left">
    <h1>Current Stocks</h1>
    <p class="lead">
      VIEW ALL CURRENT ITEMS AND SHELLS
    </p>
  </div>
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col padding-left">
    <div class="input-group search-bar-padding">
      <input ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete form-control glow-input" autocomplete="off"
             ng-model="model"
             item-value-key="name"
             item-view-value-key="view"
             items-method="getItems(query,categories)"
             items-method-value-key="items"
             placeholder="Search for the category name."
             max-selected-items="1"/>
    </div>
  </div>
</div>


<div class="row">
  <div class="col padding-left search-bar-padding text-justify" ng-init="init()">
    <!--<button class="btn btn-nav" ng-click="door_hanger()">Pen Style - 1</button>-->
    <button class="btn btn-nav" ng-repeat="category in categories | filter:searchText" ng-click="door_hanger({{category.id}})">{{category.name}}</button>
  </div>
</div>
