<% results.each do |result| %>
  <div class="card col-6 border-secondary mb-3" style="box-shadow: 0 5px 15px rgba(33, 33, 33, .4);" >
      <div class="card-body bg-light text-secondary px-0">
        <div class="col px-0">
          <strong class="dflex">
            <span class="col-4 pl-0">
              <%= result.user.full_name %>
            </span>
            <span>
              <%= result.created_at.strftime('%I:%M %p %m/%d')%>
            </span>
          </strong>
          <p class="mt-1">
            <%= result.body %>
          </p>
        </div>
      </div>
      <div class="card-footer px-0" style="text-transform: uppercase; text-align: right;">
        <%= "Conversation in order #{result.chatroom_order_id}" %>
      </div>
  </div>
<% end %>