<%= render "form" %>
<div class="row">
  <div class="col">
    <% if  @results.each do |key, results| %>
      <% all_results = params[:see_more] == "true" ? results : results.first(3) %>
      <%= render "#{key.downcase}_result", 
        results: all_results, show_see_more: results.size > 3 && params[:see_more].nil? %>
    <% end.empty? %>
      Nothing found
    <% end %>
  </div>
</div>