<%= render "form" %>
<div class="row">
  <div class="col">
    <% if  @results.each do |key, results| %>
      <%= render "#{key.downcase}_result", results: results %>
    <% end.empty? %>
      Nothing found
    <% end %>
  </div>
</div>