<div id="modal-shows">
     <div class="modal fade" id="modal-dialog" style="display: none;">
          <div class="modal-dialog modal-lg">
               <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                         <h3>
                         Upload Documents
                         </h3>
                         <button type="button" class="close pull-right" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    </div>
                    <%= form_for [:patients, PatientSharedFile.new], html: { class: "form-horizontal" } do |f| %>
                         <div class="modal-body" style="background: #f8fafb;">
                              <div class="form-group">
                                   <label class="btn btn-success pointer-cursor" style="z-index: 1;">
                                        <i class="fa fa-paperclip"></i>
                                        Browse Files
                                        <%= f.file_field :attachment, id: 'message-attachment', class: 'd-none', title: "Image upload" %>
                                   </label>
                              </div> 
                         </div>
                         <div class="modal-footer">
                              <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                              <%= button_tag(type: 'Submit', class: "btn btn-primary") do %>
                                   Save changes
                              <% end %> 
                         </div>
                    <% end %>
               </div>
          </div>
     </div>
</div>
