<div id="users_brand">
	<% if brand.users_brands.present? %>
		<table class="table table-striped table-hover">
			<tbody>
				<% brand.users_brands.order(:id).each do |ub| %>
					<tr>
					    <td><%= ub.user.full_name %></td>
					    <td>
					    	<% if ub.main_contact == true %>
					    		<span class="label label-primary">Main Contact</span>
					    	<% end %>
					    </td>
					    <td class="client-status">
					    	<%= link_to 'Destroy', admin_users_brand_path(ub.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", remote: true %>
					    	<%= link_to 'Set Main Contact', admin_users_brand_path(ub.id), method: :put, class: "btn btn-default btn-xs", remote: true %>
					    </td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>