files:
  /etc/nginx/conf.d/proxy.conf:
    content: |
      client_max_body_size 500M;
      server_names_hash_bucket_size 128;

      upstream backend {
        server unix:///var/run/puma/my_app.sock;
      }

      server {
        listen 80;
        server_name ws://aws-production.5fsrj3kfbx.us-west-2.elasticbeanstalk.com;

        passenger_enabled on;
        rails_env production;
        root /home/deploy/your_app/current/public;

        location /cable {
          passenger_app_group_name your_app_websocket;
          passenger_force_max_concurrent_requests_per_process 0;
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
          root html;
        }
      }


container_commands:
  01restart_nginx:
    command: "service nginx restart"