<div class="modal fade" id="modal-dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">User Groups</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            
            <%= form_for [:admin, user.users_group_details.new], remote: true do |f| %>
                <div class="modal-body">
                    <div class="row row-space-10">
                        <div class="col-md-12">
                            <div class="form-group m-b-10 p-t-5">
                                <ul>
                                    <% users_groups.each do |user_group| %>
                                        <li>
                                            <%= check_box_tag 'users_group_ids[]', user_group.id %>
                                            <%= user_group.description %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Close</a>
                    <%= submit_tag("Save", :id=>"button", :class=>"btn btn-success", :name=>"submit") %>
                </div>
            <% end %>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.select2').select2({
            width: 'resolve',
            dropdownParent: $("#modal-dialog")
        });
    });
</script>