<div id="sidebar" class="sidebar p-sidebar">
     <div class="slimScrollDiv">
          <ul class="nav">
               <li class="p-sidebar-link <%= controller.class.name.split("::").second == 'DashboardsController' ? 'active' : '' %>">
                    <%= link_to patients_patient_dashboards_path(current_patient) do %>
                         <span>
                              <i class="fas fa-gears p-sidebar-icon" style=""></i> 
                         </span>
                         <span class="p-sidebar-text">Dashboard</span> 
                    <% end %>
               </li>
               <li class="p-sidebar-link <%= controller.class.name.split("::").second == 'DocumentUploadsController' ? 'active' : '' %>" style="padding-top: 0;">
                    <%= link_to patients_patient_document_uploads_path(current_patient) do %>
                         <span>
                              <i class="fas fa-files-o p-sidebar-icon" style=""></i> 
                         </span>
                         <span class="p-sidebar-text">Shared Files</span> 
                    <% end %>
               </li>
               <li>
                    <ul class="p-sidebar-link nav nav-second-level collapse" aria-expanded="false">
                         <a href="#" aria-expanded="false">
                              <i class="fa fa-bar-chart-o"></i> 
                              <span class="nav-label">Graphs</span>
                              <span class="fa arrow"></span>
                         </a>
                         <li><a href="graph_flot.html">Flot Charts</a></li>
                    </ul>
               </li>
          </ul>
     </div>
</div>