<div class="widget-chat-item with-media left">
	<div class="widget-chat-info">
        <br>
        <div class="widget-chat-info-container" id="message-<%= message.id %>">
            <div class="row">
                <div class="col-lg-12">
                    <div class="widget-chat-name text-primary">
                        <%= message.user.present? ? [message.user.first_name, message.user.last_name].join(' ') : "No User #{message.user_id}" %>
                    </div>
                    <div class="widget-chat-message">
                        <%= render '/messages/message_body', message: message %>
                    </div>
                </div>
                <div class="col-lg-12" style="margin-top: 5px;">
                    <div class="widget-chat-time"><%= message.created_at.strftime("%b-%d %I:%M%P") %></div>
                </div>
            </div>
        </div>
    </div>
</div>