<h5>Options</h5>
<div class="hr-line-dashed"></div>
<%= link_to new_folder_root_admin_document_uploads_path, class: "btn btn-outline btn-link", data: [toggle: "modal"], remote: true do %>
    <i class="fa fa-folder-open"></i> Create New Folder
<% end %>
<%= link_to admin_document_upload_upload_files_path(0), class: "btn btn-outline btn-link", remote: true do %>
    <i class="fa fa-upload"></i> Upload File
<% end %>

<div class="clearfix"></div>