<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Document Uploads</h2>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row" id="documents_index">
        <%= render 'document_index', roots: @roots %>
    </div>
</div>
