<table class="table table-striped">
  <thead>
    <th>File Name</th>
    <th>Size</th>
    <th></th>
  </thead>
  <tbody>
  <% if @order_entry_attachments.present? %>
    <% @order_entry_attachments.each do |attachment| %>
      <tr>
        <th><%= attachment.attachment_file_file_name %></th>
        <th><%= attachment.attachment_file_file_size %></th>
        <th><%= link_to "Download", download_attachment_order_entries_path(:id => attachment.id) %></th>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <th colspan="3"><b>No Attachment/s Yet.</b></th>
    </tr>
  <% end %>

  </tbody>
</table>