<div class="row">
  <div class="col padding-left">
    <h1>Add an Vendor</h1>
    <p class="lead">
      CREATE A NEW VENDOR
    </p>
  </div>
  <div class="col">

  </div>
</div>
<div class="row">
  <div class="col padding-left text-center">
    <h2 class="force-black">Initial Information</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label label-form col-form-label-right">Vendor Name</label>
      <div class="col-sm-10">
        <input class="form-control glow-input" type="text"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label label-form col-form-label-right">Primary Contact Nam</label>
      <div class="col-sm-10">
        <input class="form-control glow-input" type="text"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label label-form col-form-label-right">Primary Contact Number</label>
      <div class="col-sm-10">
        <input class="form-control glow-input" type="text"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label label-form col-form-label-right">E-mail Address</label>
      <div class="col-sm-10">
        <input class="form-control glow-input" type="text"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label label-form col-form-label-right">Vendor Address</label>
      <div class="col-sm-10">
        <input class="form-control glow-input" type="text"/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label label-form col-form-label-right">Country of Origin</label>
      <div class="col-sm-10">
        <input class="form-control glow-input" type="text"/>
      </div>
    </div>


    <label class="item float-right">
      <button class="btn btn-nav" ng-click="add_vendor_categories()">Next <i class="icon ion-arrow-right-b"></i></button>
    </label>
  </div>
</div>