<div class="row">
  <div class="col padding-left">
    <h1>Add an Vendor</h1>
    <p class="lead">
      CREATE A NEW VENDOR
    </p>
  </div>
  <div class="col">

  </div>
</div>
<div class="row">
  <div class="col padding-left text-center">
    <h2 class="force-black">Initial Information</h2>
  </div>
</div>

<div class="row">
  <div class="col">
    <label class="item item-input input-adjust-padding-right">
      <span class="input-label force-gray-label">Vendor Name</span>
      <input type="text">
    </label>

    <label class="item item-input input-adjust-padding-right">
      <span class="input-label force-gray-label">Primary Contact Name</span>
      <input type="text">
    </label>

    <label class="item item-input input-adjust-padding-right">
      <span class="input-label force-gray-label">Primary Contact Number</span>
      <input type="text">
    </label>

    <label class="item item-input input-adjust-padding-right">
      <span class="input-label force-gray-label">E-mail Address</span>
      <input type="text">
    </label>

    <label class="item item-input input-adjust-padding-right">
      <span class="input-label force-gray-label">Vendor Address</span>
      <input type="text">
    </label>

    <label class="item item-input input-adjust-padding-right">
      <span class="input-label force-gray-label">Country of Origin</span>
      <input type="text">
    </label>


    <label class="item float-right">
      <button class="btn btn-nav" ng-click="add_vendor_categories()">Next <i class="icon ion-arrow-right-b"></i></button>
    </label>
  </div>
</div>