
<div class="row" >
  <div class="col padding-left">
    <h1><b>SUPPLIER DATABASE</b></h1><br/>
  </div>
</div>
<div class="row">
  <div class="col padding-left">
    <h3 class="make-green"><b>LIST OF VENDORS</b></h3><br/>
  </div>
</div>
<div class="row" style="padding-top: 1%;">
  <div class="col padding-left">
    <table class="table" id="example2">
      <thead class="thead-dark thead-yellow">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <% Vendor.order('id DESC').each do |vendor|%>
          <tr>
            <th scope="row"><%= vendor.id %></th>
            <td><%= vendor.name %></td>
            <td><%= vendor.email %></td>
            <!--<td><button class="btn btn-nav-selected btn-nav-selected-circle" ng-click="orderDetails()"><i class="icon ion-plus-round"></i></button></td>-->
          </tr>
      <% end %>


      </tbody>
    </table>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('#example2').DataTable( {
            initComplete: function () {
                this.api().columns().every( function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                            .appendTo( $(column.footer()).empty() )
                            .on( 'change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                );

                                column
                                        .search( val ? '^'+val+'$' : '', true, false )
                                        .draw();
                            } );

                    column.data().unique().sort().each( function ( d, j ) {
                        select.append( '<option value="'+d+'">'+d+'</option>' )
                    } );
                } );
            }
        } );
    } );
</script>