<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Patients</h2>
        <ol class="breadcrumb">
            <li>
                <%= link_to 'Dashboard', admin_root_path %>
            </li>
            <li>
                <%= link_to 'Patients List', admin_patients_path %>
            </li>
            <li class="active">
                <strong><%= @patient.full_name %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<%= render 'form' %>