<div class="row">
    <% if @documents.present? %>
        
        <div class="col-md-4">
            <div class="widget-todolist widget-todolist-rounded m-b-30" data-id="widget">
                <div class="widget-todolist-header">
                    <div class="widget-todolist-header-left">
                        <h4 class="widget-todolist-header-title">Shared Documents</h4>
                    </div>
                </div>
                <div class="widget-list-body">
                    <div id="shared-docs">
                        <% @documents.each do |document| %>

                            <% 
                                if document.attachment_data.present?
                                    attachment_data = JSON.parse(document.attachment_data, object_class: OpenStruct) 
                                    mime_type = attachment_data.original.metadata.mime_type
                                else
                                    attachment_data = ""
                                    mime_type = ""
                                end
                            %>

                            <div class="widget-list-item">
                                <div class="widget-list-content">
                                    <h4 class="widget-list-title">
                                        <%= link_to document_upload_path(document), remote: true do %>
                                            <%= attachment_data.original.metadata.filename %>
                                        <% end %>
                                    </h4>
                                    <p class="widget-list-desc">Uploaded: <%= document.created_at.strftime("%d %b %Y %I:%M %P") %> </p>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            
            <div style="overflow: scroll; height: 80vh; ">

                <div class="element-detail-box" style="background-color: #6c757d;">
                    <div id="image-preview" style="text-align: center;">
                        <%= render 'image-preview', document: @documents.first %>
                    </div>
                </div>

            </div>
        </div>
    <% else %>
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            You dont have any shared documents yet.
        </div>
    <% end %>

</div>