<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <meta name="viewport" content="width=device-width">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>Boston Pediatric Dental Group</title>
</head>

<body>

    <table style="font-size: 14px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
        <tbody>
            <tr>
                <td class="container" width="600">
                    <div class="content">
                        <h2 style="font-weight: bold; color: #333;font-size: 20px;">
                            Boston Pediatric Dental Group Message Delivery
                        </h2>
                        <strong style="margin-top: 15px;">
                            Cambridge Children’s Dentistry has created a secure e-mail message for you at:
                        </strong>
                        <div style="margin-top:20px;">
                            <a href="test-bostonpdg.herokuapp.com">Link to our site</a>
                        </div>
                        <div>
                            <h4>
                                To access your message, simply follow these steps:
                            </h4>
                            <p style="margin-top: 10px;">
                                1.    Click on the above link.
                            </p>
                            <p style="margin-top: 10px;">
                                2.    Type {patient’s email.com} for your Login ID, and then your password.
                            </p>
                            <p style="margin-top: 10px;">
                                3.    Access your Inbox to view your message.
                            </p>
                        </div>
                        <p style="margin-top: 30px; ">
                            Problems accessing the message?
                        </p>
                        <small>
                            If you are unable to open the link, please make sure that your firewall or your company’s security settings are not blocking the link.
                        </small>
                        <br><br>
                        <small>
                            You will be asked to confirm your identity through your cellphone.
                        </small>
                    </div>
                </td>
            
            </tr>
        </tbody>
    </table>

</body>
</html>