<html xmlns="http://www.w3.org/1999/xhtml">
<head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
     <meta name="viewport" content="width=device-width">
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <title>Boston Pediatric Dental Group</title>
</head>

<body>

<table class="body-wrap">
    <tbody><tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0">
                    <tbody><tr>
                        <td class="content-wrap">
                            <table cellpadding="0" cellspacing="0">
                                <tbody><tr>
                                    <td class="content-block">
                                        <h3>Boston Pediatric Dental Group</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        <h3>Welcome <strong><%= @patient.full_name.present? ? @patient.full_name : '' %></strong></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        We may need to send you critical information about our service and it is important that we have an accurate email address.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block aligncenter">
                                        <a href="https://test-bostonpdg.herokuapp.com/patients/login" class="btn-primary">Login now</a>
                                    </td>
                                </tr>
                              </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                <div class="footer">
                    <table width="100%">
                        <tbody><tr>
                            <td class="aligncenter content-block">
                                Copyright © 2019 Boston Pediatric Dental Group.
                            </td>
                        </tr>
                    </tbody></table>
                </div></div>
        </td>
        <td></td>
    </tr>
</tbody></table>



</body></html>