<div class="m-b-10 f-s-10 m-t-10" style="margin-left: 80px;">
	<h2 class="text-inverse"><%= user_timelogs.first.user.first_name %>'s Timelogs</h2>
</div>
<div class="row m-b-30">
	<div id="vertical-timeline" class="vertical-container dark-timeline">
		<% user_timelogs.each do |user_timelog| %>
			<div class="vertical-timeline-block">
				<div class="vertical-timeline-icon blue-bg">
					<i class="fa fa-stopwatch"></i>
				</div>

				<div class="vertical-timeline-content">
					<h2><%= user_timelog.description %></h2>
					<div>
						<span class="vertical-date">
							Time In <br>
							<strong class="text-warning"><%= user_timelog.time_in.strftime("%I:%M %P") %></strong>
						</span>
					</div>

					<div class="pull-right">
						<span class="vertical-date">
							Time Out <br>
							<strong class="text-warning"><%= user_timelog.time_out.present? ? user_timelog.time_out.strftime("%I:%M %P") : "...." %></strong>
						</span>
					</div>
					
				</div>
			</div>
		<% end %>
	</div>
</div>
