<div class="row" style="padding-top: 3%;padding-bottom: 3%;">
  <div class="col padding-left" style="padding-right: 2%; padding-left: 2%;">
    <a class="btn btn-success" style="width: 100%;" onclick="submitFormWithVal('<%= form_action %>', $(this))"><%= button_label %></a>
  </div>
</div>