/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap.min
 *= require font-awesome.min
 *= require fontastic
 *= require grasp_mobile_progress_circle-1.0.0.min
 *= require jquery.mCustomScrollbar
 *= require style.default
 *= require custom
 *= require_self
 */
.display-block {
    display: block;
}
.display-inline {
    display: inline;
}

.sidebar-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100px;
    color: white;
    text-align: center;
    border-top: 2px solid #292929;
    background: #393836 !important;
    margin-bottom: 0 !important;
}
.btn-yellow {
    border-radius: 0 !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
    color: #ffffff !important;
    background: #D3AD5D !important;
}

.btn-nav, .btn-nav-selected{
    border: 1px solid #FFFEFD;
    box-shadow: 0 2px 4px 0 rgba(220,220,218,0.50);
    height: 70px;
    font-family: 'Montserrat';
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.btn-nav {
    background: #FFFFFF;
    color: #989393;
}

.btn-nav-selected-circle {
    height: 35px !important;
    border-radius: 50% !important;
}

.card-yellow {
    background: #F2EAD9;
    text-align: center;
}
.card-yellow-no-align {
    background: #F2EAD9;
}
.card-padding-item {
    padding-top: 3%;
}

.card.list .list-item {
    padding-right: 1px;
    padding-left: 1px; }

/**
 * Cards and Inset Lists
 * --------------------------------------------------
 * A card and list-inset are close to the same thing, except a card as a box shadow.
 */
.card,
.list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #fff; }

.card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
.card .item {
    border-left: 0;
    border-right: 0; }
.card .item:first-child {
    border-top: 0; }
.card .item:last-child {
    border-bottom: 0; }

.padding .card, .padding .list-inset {
    margin-left: 0;
    margin-right: 0; }

.card .item:first-child,
.list-inset .item:first-child,
.padding > .list .item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }
.card .item:first-child .item-content,
.list-inset .item:first-child .item-content,
.padding > .list .item:first-child .item-content {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; }

.card .item:last-child,
.list-inset .item:last-child,
.padding > .list .item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }
.card .item:last-child .item-content,
.list-inset .item:last-child .item-content,
.padding > .list .item:last-child .item-content {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px; }

.card .item:last-child,
.list-inset .item:last-child {
    margin-bottom: -1px; }

.card .item,
.list-inset .item,
.padding > .list .item,
.padding-horizontal > .list .item {
    margin-right: 0;
    margin-left: 0; }
.card .item.item-input input,
.list-inset .item.item-input input,
.padding > .list .item.item-input input,
.padding-horizontal > .list .item.item-input input {
    padding-right: 44px; }