.chat-discussion {
    background: #eee;
    padding: 15px;
    height: 500px;
    overflow-y: auto;
}

.chat-message {
    padding: 10px 20px;
}

.chat-discussion .chat-message.left .message {
    text-align: left;
    margin-left: 5px;
}
.message {
    background-color: #fff;
    border: 1px solid #e7eaec;
    text-align: left;
    display: block;
    padding: 10px 20px;
    position: relative;
    border-radius: 4px;
}

.chat-discussion .chat-message.left .message-date {
    float: right;
}

.message-date {
    font-size: 10px;
    color: #888888;
}

.message-content {
    display: block;
    font-size: 10px;
    margin-left: 20px;
}

.message-author {
	color: #17a2b8 !important;
	font-size: 10px;
}

#small-chat {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.open-small-chat {
    height: 38px;
    width: 38px;
    display: block;
    background: #1ab394;
    padding: 9px 8px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

.small-chat-box.active {
    display: block;
}

.small-chat-box {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 75px;
    background: #fff;
    border: 1px solid #e7eaec;
    width: 300px;
    height: 360px;
    border-radius: 4px;
}

.small-chat-box .heading {
    background: #2f4050;
    padding: 8px 15px;
    font-weight: bold;
    color: #fff;
}

.small-chat-box .form-chat {
    padding: 10px 10px;
}

.small-chat-box .content {
    padding: 15px 15px;
}

.author-name {
    font-weight: bold;
    margin-bottom: 3px;
    font-size: 11px;
}

.chat-message.active {
    background: #1ab394;
    color: #fff;
}

.chat-message {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 11px;
    line-height: 14px;
    width: 100%;
    /*background: #f3f3f4;*/
    margin-bottom: 10px;
}