<div id="time_in">
    <%= form_for UserTimeLog.new, remote: true do |f| %>
        <div class="form-group">
            <%= f.text_field :description, class: "form-control awesomplete", data: {list: '#mylist'}, style: "font-size: 20px;", placeholder: "What are you working on?", autocomplete: :off, required: true %>
            <ul id="mylist" style="display: none;">
                <% TimeLogWork.all.each do |work| %>
                    <li><%= work.description %></li>
                <% end %>
            </ul>
        </div>
        <div style="text-align: center;">
            <%= button_tag type: 'submit', id: "register-button", style: "background: none; border: none;" do %>
                <i class="fas fa-play-circle fa-10x play-stop" style="color: #4286f4;"></i>
            <% end %>
        </div>
    <% end %>
 
    <div class="widget yellw-bg no-padding" style="text-align: center;">
        <div class="p-m">
            <h1 id="timeIn" class="m-xs" style="color: #1c84c6;">--:--:--</h1>
            <small id="duration">Current Time</small>
        </div>
    </div>
</div>
<script type="text/javascript">
    
    function setTimeIn() {
        startTime();
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('timeIn').innerHTML =
            h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
    }

    if( document.readyState === 'complete' ) {
        setTimeIn();
    } else {
        document.addEventListener('DOMContentLoaded', function () {
            setTimeIn();
        });
    }
</script>