<div class ="row">
    <div class="col-md-7">
        <h2>Time Logs</h2>
    </div>
    <div class="col-md-5">
        <h2>Time In/Out</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <div class="gray-bg ibox " id="log_lists">

            <%= render 'log_lists', time_logs: @time_logs %>

        </div>
    </div>
    <div class="col-md-5">
        <div class="gray-bg ibox">
            <div class="ibox-content">
                <div id="time_log">
                    <% if @time_log.present? %>
                        <%= render 'time_out', time_log: @time_log, start_time: @start_time %>
                    <% else %>  
                        <%= render 'time_in' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

