<h1 class="page-header">Time Logs <small>Your timelog history</small></h1>
<div class="row">
    <div class="col-md-5">
        <div class="gray-bg ibox">
            <div class="ibox-content">
                <div id="time_log">
                    <% if @time_log.present? %>
                        <%= render 'time_out', time_log: @time_log, start_time: @start_time %>
                    <% else %>  
                        <%= render 'time_in' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="gray-bg ibox " id="log_lists">
            <%= render 'log_lists', time_logs: @time_logs %>
        </div>
    </div>
</div>
