<div id="vendor_product">
	<% if vendor.vendors_products.present? %>
		<table class="table table-striped table-hover">
			<tbody>
				<% vendor.vendors_products.each do |vp| %>
					<tr>
					    <td><%= vp.product.name %></td>
					    <td><%= vp.product.price %></td>
					    <td class="client-status">
					    	<%= link_to 'Destroy', admin_vendors_product_path(vp.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs", remote: true %>
					    </td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>