<div class="row">
  <div class="col padding-left">
    <h1>Vendor List</h1>
    <p class="lead">
      LIST OF CURRENT VENDORS
    </p>
  </div>
  <div class="col">

  </div>
</div>

<div class="row">
  <div class="col padding-left">
    <div class="input-group search-bar-padding">
      <input type="text" class="form-control glow-input" placeholder="Search for a hotel" required ng-model="searchText">
    </div>
  </div>
</div>

<div class="row">
  <div class="col search-bar-padding text-justify">
    <p class="padding-top" ng-init="initVendors()">
      <button class="btn btn-nav" ng-repeat="vendor in vendors | filter:searchText" ng-click="add_existing_vendor_categories()">{{vendor.name}}</button>
    </p>
  </div>
</div>