<% if flash[:mobile_errors].present? %>
     <div class="alert alert-danger alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          <%= flash[:mobile_errors] %>
     </div>
<% end %>