<div class="modal fade bd-example-modal-lg modal-gray" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="editOrder">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create a Quote Order</h5>
        <h6 class="modal-title model-header-margin">(Fill in the Information to generate a new Quote order)</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="edit_order" action="/update_order" accept-charset="UTF-8" method="post">
          <input type="hidden" name="order[id]" id="order_id" >
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label label-form">Status</label>
            <div class="col-sm-10">
              <select class="selectpicker form-control glow-input" data-live-search="true" name="order[status]" id="order_status">
                <option value="Quote">Quote</option>
                <option value="Sales">Sales</option>
                <option value="Design">Design</option>
                <option value="Processing">Processing</option>
              </select>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label label-form">Brand</label>
            <div class="col-sm-10">
              <select class="selectpicker form-control glow-input" data-live-search="true" name="order[brand_id]" id="order_brand_id">
                <option></option>
                <% if @brands.present? %>
                    <% @brands.each do |brand| %>
                        <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group row required">
            <label class="col-sm-2 col-form-label label-form">What is client's total budget?</label>
            <div class="col-sm-10">
              <input type="number"  class="form-control glow-input" name="order[total_budget]" id="order_total_budget"/>
            </div>
          </div>
          <div class="form-group row required">
            <label class="col-sm-2 col-form-label label-form">What is the client's lead time?</label>
            <div class="col-sm-10">
              <input type="number" class="form-control glow-input" name="order[lead_time]" id="order_lead_time"/>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="buttons pull-left">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
        <div class="buttons pull-right">
          <!--<button type="button" class="btn btn-outline-info" data-dismiss="modal">Back</button>-->
          <button type="button" class="btn btn-info" onclick="submitForm('new_order')">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>