<div class="modal fade bd-example-modal-lg modal-gray" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="editFreeFlow">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">EDIT INFORMATION</h5>
        <h6 class="modal-title model-header-margin product-name-header" id="product-name-header"></h6><!--
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>-->
      </div>
      <div class="modal-body">
        <div class="row" style="padding-top: .5%;">
          <div class="col padding-left padding-top-1">
            <h4>Specifications</h4>
            <div class="input-group search-bar-padding padding-top-1">
              <textarea class="form-control glow-input" id="add_specs" name="specs" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 2%;">
          <div class="col padding-left padding-top-1">
            <h4>Vendor Price Quotes</h4>
            <div class="input-group search-bar-padding padding-top-1">
              <textarea class="form-control glow-input" id="add_vendor_quote_prices" name="vendor_quote_prices" rows="3"></textarea>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 2%;">
          <div class="col padding-left padding-top-1">
            <h4>Notes</h4>
            <div class="input-group search-bar-padding padding-top-1">
              <textarea class="form-control glow-input" id="add_notes" name="notes" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="buttons pull-left">
          <button type="button" class="btn btn-outline-danger" onclick="openViewItems();">Cancel</button>
        </div>
        <div class="buttons pull-right">
          <!--<button type="button" class="btn btn-outline-info" data-dismiss="modal">Back</button>-->
          <button type="button" class="btn btn-info" onclick="submitEditFreeFlow();">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>