<div class="modal fade bd-example-modal-lg modal-gray" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="requestQuote">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">E-mail Preview: <span class="sub-header-modal">(Edit E-mail Format)</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="form" id="new_email_template" action="/email_templates" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
        <div class="modal-body">

          <input type="hidden" name="email_template[order_id]" id="order_entry_order_id" value="<%= @order.id %>"/>
          <input type="hidden" name="email_template[order_entry_ids]" id="email_template_order_entry_ids" />
          <input type="hidden" name="email_template[removed_attachments]" id="email_template_removed_attachments" />
          <input type="hidden" name="email_template[btn_type]" id="email_template_btn_type" />
          <div class="form-group row">
            <label class="col-sm-2 col-form-label label-form col-form-label-right">From:</label>
            <div class="col-sm-10">
              <input type="text" value="<%= current_user.email %>" class="form-control" name="email_template[sender]" disabled/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label label-form col-form-label-right">To <i>(Recipients)</i>:</label>
            <div class="col-sm-10">
              <input type="text"  data-role="tagsinput" class="form-control" name="email_template[to]" id="email_template_to"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label label-form col-form-label-right">CC:</label>
            <div class="col-sm-10">
              <input type="text" name="email_template[cc]" value=<%=User.where("id IN (SELECT regional FROM order_users WHERE order_id = #{@order.id}) OR id IN (SELECT comms FROM order_users WHERE order_id = #{@order.id}) OR id IN (SELECT art FROM order_users WHERE order_id = #{@order.id}) OR id IN (SELECT processor FROM order_users WHERE order_id = #{@order.id}) OR id IN (SELECT designer FROM order_users WHERE order_id = #{@order.id}) OR id IN (SELECT client_contact FROM order_users WHERE order_id = #{@order.id})").pluck(:email).map(&:inspect).join(',').gsub!('"', '')%> data-role="tagsinput" class="form-control"/>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label label-form col-form-label-right">Message:</label>
            <div class="col-sm-10">
             <textarea class="textarea-format" rows="100" class="form-control" name="email_template[content]"></textarea>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label label-form col-form-label-right">Attachment</label>
            <div class="col-sm-10 dropzone">
              <div id="dropzoneEmailPreview" class="dropzone-previews form-control dz-clickable">
                <div class="dz-message">Drag&drop</div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="buttons pull-left">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
          </div>
          <div class="buttons pull-right">
            <button type="submit" class="ladda-button btn btn-info" data-style="zoom-in">Send</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>