<div class="modal fade bd-example-modal-lg modal-gray" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="exampleModalCenter">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...<br/>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="buttons pull-left">
          <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
        </div>
        <div class="buttons pull-right">
          <button type="button" class="btn btn-outline-info" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-info">Save</button>
        </div>

      </div>
    </div>
  </div>
</div>