<div class="form-group">
  <%= form_for [chatroom, Message.new], format: 'js', remote: true do |f| %>
  	<div class="input-group">
  		<%= f.text_field :body, rows: 1, class: "form-control", autofocus: true, placeholder: "Enter message text", autocomplete: "off" %>
  		<span class="input-group-btn"> 
            <label class="btn btn-white btn-bitbucket btn-file">
	            <i class="fa fa-paperclip"></i>
	            <%= f.file_field :attachment, id: 'message-attachment', style: "display: none;", title: "Image upload" %>
	        </label>
	        <%= f.submit "Send", class: "btn btn-primary" %>
        </span>
    </div>
  <% end %>
</div>